<app-navbar></app-navbar>
<section>
        <div class="container">
                <div class="row row-content">
                        <div class="col-sm-4">
                                <img src="../../assets/images/logo.png" alt="">
                        </div>
                        <div class="col-sm-8">
                                <h2 class="heading" style="font-size: 40px;">RevA - VisPy Corp.</h2>
                                <p class="description"><i>"This world is full of hatred and no
                                                one desire happiness of others until they get profit
                                                from it. Leave this reality, which is curse by its own
                                                existence and enter a world where your imagniation is
                                                not bounded by the laws of society and you do what you
                                                want.</i> <strong>It is the world of anime. WELCOME!!! Folks
                                                To The World Of Greatness!!!</strong>"
                                        <br><br> ~Vishnu
                                </p>
                        </div>
                </div>
        </div>
        <div class="container">
                <div class="row row-content">
                        <div class="col-sm-8">
                                <h2 class="heading" style="font-size: 40px;">Introduction</h2>
                                <p class="description">Reason to create this website is to
                                        tell people about the importance of anime. I love to watch anime
                                        and most of the time either I watch anime or play video games.
                                        Everyone around me looks at me in a disgust way that I belong to
                                        a different world. It disgust me more as people compare these
                                        animes with cartoons. Are they out of their mind to compare this
                                        art to that shit, but it is what it is.</p>
                                <p class="description">Ay my initial stage, I found it
                                        difficult to find good animes but it
                                        was not easy and I watch very bad onees too. From there I get
                                        the idea to create a website which provide a guide to interested
                                        ones to watch good content only, which they would love and also
                                        help them to develop.</p>
                        </div>
                        <div class="col-sm-4">
                                <img src="../../assets/images/about/p3.jpg" alt="">
                        </div>
                </div>
        </div>
        <div class="container">
                <div class="row row-content">
                        <div class="col-sm-4">
                                <img src="../../assets/images/about/p1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                                <h2 class="heading" style="font-size: 40px;">what this website do?</h2>
                                <p class="description">Don't bother about what I do and how. It only make you tensed and
                                        A fan of mine😎. But keeping jokes apart, what I do is to help new folks to
                                        watch good anime and that is the single aim why this website is build. This site contain only
                                        those animes which I watch personally and loved it. List is too
                                        long and will be increasing and I'll be updating this website,
                                        so don't worry and watch what I told blindly and you gonna
                                        forget all your pain and will always leave in this reality.</p>
                        </div>
                </div>
        </div>
</section>
<app-footer></app-footer>